<html>
  <body class="welcomeMenuBody">
    <div class="welcomeMenu">
      <h1>Sing in on MyFirstTask</h1>

      <input
        type="text"
        class="welcomeMenuEnterField"
        placeholder="Enter your login"
      /><br />
      <input
        type="password"
        class="welcomeMenuEnterField"
        placeholder="Enter your password"
      /><br />
      <!-- Добавить чекбоксы: показать/скрыть пароль и сохранить данные для следующего входа -->

      <button (click)="verification()" class="welcomeMenuButton">Log on</button
      ><br />
      <button class="welcomeMenuButton" (click)="showRegistration()">
        Registration</button
      ><br />
    </div>
  </body>
</html>
