<div class="registration"><h1>Registration</h1>

    <input type="text" class="registrationEnterField" placeholder="Enter your login"><br>
    <input type="password" class="registrationEnterField" placeholder="Enter your password"><br>
    <input type="password" class="registrationEnterField" placeholder="Repeat your password"><br>
    <!--Сюда тоже надо добавить кастомный чекбокс, чтобы показывать пароль(но я пока не разобрался, как это сдлеать, чтобы смотрелось красиво)-->
    <button class="registrationButton" (click)="checkPasswordCorrect()">Register oneself</button>
    <button class="registrationButton" (click)="checkPasswordCorrect()">Cancel</button>
</div>
